  <spacer size-lg="40" size-sm="20"></spacer>
  <h1 class="text-center" style="font-size: 18px; margin-bottom:0;">Your Hearing Your Way Commitment</h1>
  <p class="text-center">For as long as your hearing aids are in use, we are here to support you with onsite device repairs.*</p>
    <spacer size-lg="10" size-sm="5"></spacer>
    <h1 class="text-center" style="font-size: 18px; margin-bottom:0;">Care and Quality</h1>
  <p class="text-center">Warm welcomes and no-pressure to commit underpins our service commitment.</p>
    <spacer size-lg="10" size-sm="5"></spacer>
    <h1 class="text-center" style="font-size: 18px; margin-bottom:0;">Satisfaction and Certainty^</h1>
  <p class="text-center">Peace of mind comes from; 30 day money back guarantee, manufacturer’s warranties and 10 day
      free trial, so you can be sure of your choice.</p>
  <spacer size-lg="14" size-sm="6"></spacer>
  <center>
  <button href="#" target="_blank" class="radius">
    FIND OUT MORE
  </button>
  <spacer size-lg="14" size-sm="6"></spacer>
    <p class="text-center" style="font-size: 11px;">*Onsite repairs are repairs that can be done in clinic and do not require the device to be sent
      to the manufacturer.<br>
      <a href="#" style="text-decoration: underline;">^Terms and Conditions apply please click here for more details.</a></p>
  <spacer size="25"></spacer>