 <container class="mediumgray-background">
     <row>
         <columns>
             <spacer size="40"></spacer>
             <h2 class="text-center">IMPORTANT COVID-19 NOTICE:</h2>
             <spacer size="10"></spacer>
             <p class="text-center">
                 As outlined on the call when we booked your appointment, we need to follow strict rules around clinic
                 visits
                 as
                 a
                 consequence of the Coronavirus (COVID-19) outbreak.
             </p>
             <spacer size="4"></spacer>
             <p class="text-center" style="font-style: italic; font-weight: bold;">
                 To ensure both your safety and wellbeing and that of our team members, we’d remind you if you feel
                 unwell
                 or
                 have flu
                 like symptoms prior to your appointment, that you call us to reschedule to a later date.
             </p>
             <spacer size="4"></spacer>
             <p class="text-center">
                 We also need to comply to Social Distancing laws which only permit one person in the clinic at a time.
                 Please
                 note, if
                 you have someone accompanying you, they will need to wait outside the clinic during your appointment.
             </p>
             <spacer size="4"></spacer>
             <p class="text-center">
                 Rest assured that Connect Hearing is fully committed to maintaining rigorous standards and hygiene
                 practices
                 in
                 line
                 with ALL Government guidelines to ensure the safety and wellbeing of our customers and clinic team
                 members.
             </p>
             <spacer size="15"></spacer>
             <p class="text-center">Kind Regards,</p>
             <p class="text-center"><strong>Your Connect Hearing Team [*LOCATION*]</strong></p>
             <spacer size="30"></spacer>
         </columns>
     </row>
 </container>