<div class="show-for-large">
    <center>
        <table>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/company/connect-hearing/?originalSubdomain=au"
                        target="_blank"><img
                            src="https://www.connecthearing.com.au/getmedia/39e2c74e-daf3-4511-9fcc-0ff4c73d73bc/connecthearing-icon1-1.aspx"
                            alt="linkedin"
                            style="display: inline-block; text-align: center; color: #000; font-size: 12px;"></a>
                </td>
                <td style="width: 15px;">

                </td>
                <td>
                    <a href="https://www.facebook.com/ConnectHearingAU/" target="_blank"><img
                            src="https://www.connecthearing.com.au/getmedia/1a3a6e30-bf1a-46ac-b83f-9e86919a7ece/connecthearing-icon2-2.aspx"
                            alt="facebook"
                            style="display: inline-block; text-align: center; color: #000; font-size: 12px;"></a>
                </td>
                <td style="width: 15px;">

                </td>
                <td>
                    <a href="https://www.youtube.com/user/connecthearingau" target="_blank"><img
                            src="https://www.connecthearing.com.au/getmedia/cde83bb2-5d20-4431-8306-6c048ad6a93b/connecthearing-icon3-1.aspx"
                            alt="youtube"
                            style="display: inline-block; text-align: center; color: #000; font-size: 12px;"></a>
                </td>
            </tr>
        </table>
    </center>
</div>
<div class="hide-for-large">
    <center>
        <table>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/company/connect-hearing/?originalSubdomain=au"
                        target="_blank"><img
                            src="https://www.connecthearing.com.au/getmedia/78590a87-50a3-4791-a891-e48983891ebf/connecthearing-icon1-mobile-1.aspx"
                            alt="linkedin"
                            style="display: inline-block; text-align: center; color: #000; font-size: 12px; max-width: 21px;"></a>
                </td>
                <td style="width: 15px;">

                </td>
                <td>
                    <a href="https://www.facebook.com/ConnectHearingAU/" target="_blank"><img
                            src="https://www.connecthearing.com.au/getmedia/edfebd17-d328-4775-95cd-f76ef7562a38/connecthearing-icon2-mobile-1.aspx"
                            alt="facebook"
                            style="display: inline-block; text-align: center; color: #000; font-size: 12px; max-width: 21px;"></a>
                </td>
                <td style="width: 15px;">

                </td>
                <td>
                    <a href="https://www.youtube.com/user/connecthearingau" target="_blank"><img
                            src="https://www.connecthearing.com.au/getmedia/cde83bb2-5d20-4431-8306-6c048ad6a93b/connecthearing-icon3-mobile-1.aspx"
                            alt="youtube"
                            style="display: inline-block; text-align: center; color: #000; font-size: 12px; max-width: 21px;"></a>
                </td>
            </tr>
        </table>
    </center>
</div>