<container class="background-background">
    <row>
        <spacer size="15"></spacer>
        <!-- <table style="width: 100%;">
            <tr>
                <td style="width: 20px;">
                </td>
                <td style="text-align: left;">
                    <p class="header-small no-margin small-text-center">
                        Confirming your hearing appointment
                    </p>
                </td>
                <td style="text-align: right;">
                    <p class="header-small no-margin small-text-center" style="text-align: right;">
                        <a href="" target="_blank" style="color:#333333">View online</a>
                    </p>
                </td>
                <td style="width: 20px;">
                </td>
            </tr>
        </table> -->
        <p class="header-small no-margin text-center">
            Confirming your hearing appointment
        </p>
    </row>
</container>
<container>
    <row>
        <spacer size="10"></spacer>
        <div class="show-for-large">
            <center>
                <img src="http://s2433.gridserver.com/clients/ConnectHearing/connecthearing-logo.png"
                    alt="Connect Hearing!" style="display: inline-block; font-size: 30px; color:#000; text-align: center;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            font-size: 34px;">
            </center>
        </div>
        <div class="hide-for-large">
            <center>
                <img src="http://s2433.gridserver.com/clients/ConnectHearing/connecthearing-logo-mobile.png"
                    alt="Connect Hearing!" style="display: inline-block; font-size: 30px; color:#000; text-align: center;
              max-width: 186px;
                            font-family: 'Arial', sans-serif;
                            font-weight: bold;
                            font-size: 20px;">
            </center>
        </div>