<h2 class="text-center">HEALTH AND SAFETY NOTICE</h2>
<spacer size="10"></spacer>
<p class="text-center">
  To ensure both your safety and wellbeing and that of our team members, we ask that if you feel unwell or have flu like
  symptoms prior to your appointment, that you call us to reschedule to a later date.
</p>
<spacer size="4"></spacer>
<p class="text-center">
Rest assured that Connect Hearing is fully committed to maintaining rigorous standards and hygiene practices in line
with all Government guidelines to ensure the safety and wellbeing of our customers and clinic team members.
</p>
<spacer size="4"></spacer>
<p class="text-center">
Please maintain Social Distancing requirements when in clinic, this may mean that only one person is able to be in the
waiting room at a time in some locations.
</p>