<spacer size-lg="35" size-sm="7"></spacer>
<!-- Table 2 columns for large START-->
<div class="show-for-large">
    <table>
        <tr>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/hearing-aids/looking-after-maintenance-cleaning/"
                    target="_blank"><img
                        src="https://www.connecthearing.com.au/getmedia/fd0416fc-c49a-498c-a7c5-0ef7b84ed6d2/connecthearing-pic05-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">Looking after your hearing aids</p>
                </a>
            </td>
            <td style="width: 34px;"></td>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/the-right-hearing-aid/prices-cost/" target="_blank">
                    <img
                        src="https://www.connecthearing.com.au/getmedia/b4667ab2-27ee-47a8-a3d1-f7a7e894c8d4/connecthearing-pic06-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">The cost of hearing aids explained</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="height: 30px;">

            </td>
            <td style="height: 30px;">

            </td>
            <td style="height: 30px;">

            </td>
        </tr>
        <tr>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/types-of-hearing-aids/" target="_blank">
                    <img
                        src="https://www.connecthearing.com.au/getmedia/17251270-f058-4919-904d-0c13c1252e8e/connecthearing-pic07-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">Types of hearing aids</p>
                </a>
            </td>
            <td>

            </td>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/hearing-aid-technology/innovation-modern-hearing-aids/"
                    target="_blank">
                    <img
                        src="https://www.connecthearing.com.au/getmedia/747a0358-6c3a-4237-9776-6e0b00b4d16c/connecthearing-pic08-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">Modern hearing aids</p>
                </a>
            </td>
        </tr>
    </table>
</div>
<!-- Table 2 columns for large END -->
<!-- Table 1 column for mobile START-->
<div class="hide-for-large">
    <table>
        <tr>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/hearing-aids/looking-after-maintenance-cleaning/"
                    target="_blank"><img
                        src="https://www.connecthearing.com.au/getmedia/6a0390e9-96fe-4263-9ada-13ff1422130a/connecthearing-pic05-mobile-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">Looking after your hearing aids</p>

                </a>
            </td>
        </tr>
        <tr>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/the-right-hearing-aid/prices-cost/" target="_blank">
                    <img
                        src="https://www.connecthearing.com.au/getmedia/6a367071-8f29-4179-9111-2c4a85ae10f0/connecthearing-pic06-mobile-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">The cost of hearing aids explained</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/types-of-hearing-aids/" target="_blank">
                    <img
                        src="https://www.connecthearing.com.au/getmedia/b52ee968-3201-406a-8023-376a96b3af15/connecthearing-pic07-mobile-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">Types of hearing aids</p>
                </a>
            </td>
        </tr>
        <tr>
            <td style="background-color: #fff; width: 285px;">
                <a href="https://www.connecthearing.com.au/hearing-aid-technology/innovation-modern-hearing-aids/"
                    target="_blank">
                    <img
                        src="https://www.connecthearing.com.au/getmedia/84cd08fc-d125-4e45-bd3b-66eec1e8c347/connecthearing-pic08-mobile-1.aspx">
                    <spacer size="10"></spacer>
                    <p class="text-center gallery-text">Modern hearing aids</p>
                </a>
            </td>
        </tr>
    </table>
</div>
<!-- Table 1 column for mobile END-->
<spacer size="35"></spacer>