 <spacer size-lg="35" size-sm="35"></spacer>
 <!-- Table 2 columns for large START-->
 <div class="show-for-large">
     <table>
         <tr>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/hearing-experts/what-expect-visiting-audiologist/"
                     target="_blank"><img
                         src="https://www.connecthearing.com.au/getmedia/c7c6104a-8d90-4f25-bf77-10dd7611b428/connecthearing-pic01-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">What should I expect when I visit an audiologist?</p>
                 </a>
             </td>
             <td style="width: 34px;"></td>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/hearing-aids/do-need-hearing-aid/" target="_blank">
                     <img
                         src="https://www.connecthearing.com.au/getmedia/9808fb12-bf97-44e3-b120-fa0ad0b7be70/connecthearing-pic02-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">Do I need a hearing aid?</p>
                 </a>
             </td>
         </tr>
         <tr>
             <td style="height: 30px;">

             </td>
             <td style="height: 30px;">

             </td>
             <td style="height: 30px;">

             </td>
         </tr>
         <tr>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/promotions/hearing-aids-pensioners-veterans/"
                     target="_blank">
                     <img
                         src="https://www.connecthearing.com.au/getmedia/94d63508-749b-45ca-8b58-5c7b295887a3/connecthearing-pic03-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">Free hearing aids for pensioners and veterans</p>
                 </a>
             </td>
             <td>

             </td>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/hearing-aids/myths/" target="_blank">
                     <img
                         src="https://www.connecthearing.com.au/getmedia/888df3d2-c6d1-4b4d-9a71-77cbb5dbcd2b/connecthearing-pic04-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">Myths about hearing aids</p>
                 </a>
             </td>
         </tr>
     </table>
 </div>
 <!-- Table 2 columns for large END -->
 <!-- Table 1 column for mobile START-->
 <div class="hide-for-large">
     <table>
         <tr>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/hearing-experts/what-expect-visiting-audiologist/"
                     target="_blank"><img
                         src="https://www.connecthearing.com.au/getmedia/7537f1fc-4972-4bf0-a6c0-2b52b7fb1f7c/connecthearing-pic01-mobile-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">What should I expect when I visit an audiologist?</p>

                 </a>
             </td>
         </tr>
         <tr>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/hearing-aids/do-need-hearing-aid/" target="_blank">
                     <img
                         src="https://www.connecthearing.com.au/getmedia/2a21c9d6-8832-4240-8f5c-9a85d7e88893/connecthearing-pic02-mobile-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">Do I need a hearing aid?</p>
                 </a>
             </td>
         </tr>
         <tr>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/promotions/hearing-aids-pensioners-veterans/"
                     target="_blank">
                     <img
                         src="https://www.connecthearing.com.au/getmedia/3ff84d39-c1ec-45b4-ae7d-584d2f9a6574/connecthearing-pic03-mobile-1.aspx">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">Free hearing aids for pensioners and veterans</p>
                 </a>
             </td>
         </tr>
         <tr>
             <td style="background-color: #fff; width: 285px;">
                 <a href="https://www.connecthearing.com.au/hearing-aids/myths/" target="_blank">
                     <img
                         src="https://www.connecthearing.com.au/getmedia/55657761-5e27-4e71-a424-1a0a163c1ac9/connecthearing-pic04-mobile-1.aspxg">
                     <spacer size="10"></spacer>
                     <p class="text-center gallery-text">Myths about hearing aids</p>
                 </a>
             </td>
         </tr>
     </table>
 </div>
 <!-- Table 1 column for mobile END-->
 <spacer size="35"></spacer>